<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="styles/main.css" />
    <title>Navarik Zoo</title>
</head>
<body>
    <div class="header">
        <h1>Zoo is open</h1>
        <div class="time">
            Time at the zoo:
            <span>{{ time }}</span>
        </div>
    </div>
    <div class="animal-group giraffe">
        <div class="description">
            Giraffes <span>Giraffes die at 50%</span>
        </div>
        <ul>
            {% for giraffe in animals.giraffes %}
            <li title="{{ giraffe }}">
                <img src="{{ giraffe.alive ? 'images/giraffe.svg' : 'images/rip.svg' }}" alt="Giraffe Icon" />
                <span class="hp-amount">{{ giraffe.health }} %</span>
                <div class="hp-bar">
                    <i class="hp-foreground hp-{{giraffe.hpColor}}" aria-hidden="true" style="width: {{ giraffe.health }}%"></i>
                </div>
            </li>
            {% endfor %}
        </ul>  
    </div>
    <div class="animal-group monkey">
        <div class="description">
            Monkeys <span>Monkeys die at 30%</span>
        </div>
        <ul>
            {% for monkey in animals.monkeys %}
            <li title="{{ monkey }}">
                <img src="{{ monkey.alive ? 'images/monkey.svg' : 'images/rip.svg' }}" alt="Monkey Icon" />
                <span class="hp-amount">{{ monkey.health }} %</span>
                <div class="hp-bar">
                    <i class="hp-foreground hp-{{monkey.hpColor}}" aria-hidden="true" style="width: {{ monkey.health }}%"></i>
                </div>
            </li>
            {% endfor %}
        </ul>  
    </div>
    <div class="animal-group elephant">
        <div class="description">
            Elephants
            <span>Elephants die if can’t walk for an hour and stop walking at 70%</span>
        </div>
        <ul>
            {% for elephant in animals.elephants %}
            <li title="{{ elephant }}">
                <img src="{{ elephant.alive ? 'images/elephant.svg' : 'images/rip.svg' }}" alt="Elephant Icon" />
                <span class="hp-amount">{{ elephant.health }} %</span>
                <div class="hp-bar">
                    <i class="hp-foreground hp-{{elephant.hpColor}}" aria-hidden="true" style="width: {{ elephant.health }}%"></i>
                </div>
            </li>
            {% endfor %}
        </ul>  
    </div>

    <div class="btn-container">
        <input type="button" class="button-primary" onclick="location.href='?action=feed';" value="Feed animals" />
        <input type="button" class="button-secondary" onclick="location.href='?action=age';" value="Pass one hour" />
        <input type="button" class="button-close" title="Destroys session to test Zoo again =)" onclick="location.href='?action=close';" value="Close the Zoo" />
    </div>
</body>
</html>